.restaurant-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  