.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    background: #fff;
    height: 97%;
    width: 95%;

  }
  
 
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  
  .image-container img {
    max-width: 95%;
    max-height: 140vh;
    transition: transform 0.3s ease-in-out;
  }
  
  .controls {
    margin-top: 10px;
  }
  