<div class="container-fluid justify-content-center align-items-center">
    <div class="clearfix"></div>
    <div class="vspacer"></div>
    <div class="vspacer"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding-bottom: 50px;">
      <img src="../../../assets/images/Logo.png" alt="logo" height="80" width="320">
    </div>
    <div class="clearfix"></div>
    <div class="vspacer"></div>
    <section>
      <div class="row" id="topDiv">
        <div class="book">
          <div class="book__form">
            <form [formGroup]="forgotPasswordForm">

              <div class="u-margin-bottom-medium" style="margin-bottom: 5px!important; padding-bottom: 0px;">
                <h3 class="heading-secondary">Forgot Password</h3>
              </div>

              <p class="subtitle">Enter your email address and we'll send you your password.</p>

              <app-success-message *ngIf="uploadSuccess" [message]="'If an account with that email exists, password will be sent to your email'"></app-success-message>
              <app-success-message *ngIf="uploadFailure" [message]="'There was an error processing your request. Please try again later.'"></app-success-message>

              <div class="form__group" style="padding-bottom: 10px;">
                <input type="email" class="form__input formemail__input" placeholder="Email Address"
                       id="email" required formControlName="email">
                <div class="clearfix"></div>
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
                     class="error-message" style="float: left; display: flex;">
                  <span style="color: red;">
                    <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                    <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                  </span>
                </div>
                <div class="vspacer"></div>
                <div class="vspacer"></div>
              </div>

              <div class="form__group" style="padding-top: 20px;">
                <button class="btn btn1" type="button"
                        (click)="onSubmit()" [disabled]="forgotPasswordForm.invalid || isLoading">
                  Submit
                </button>
                <button class="btn" type="button" (click)="Cancel()">Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border" role="status">
      <span class="sr-only"><img src="../../../assets/images/loader.gif"></span>
    </div>
</div>
