<div class="container-fluid justify-content-center align-items-center">
    <div class="clearfix"></div>
    <div class="vspacer"></div>
    <div class="vspacer"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; padding-bottom: 50px;">
      <img src="../../../assets/images/Logo.png" alt="logo" height="80" width="320">
    </div>
    <div class="clearfix"></div>
    <div class="vspacer"></div>
    <section>
      <div class="row" id="topDiv">
        <div class="book">
          <div class="book__form">
            <form [formGroup]="form" (keydown.enter)="onLogin()"> <!-- Add (keydown.enter)="onLogin()" here -->
              <div class="u-margin-bottom-medium" style="margin-bottom: 5px!important; padding-bottom: 0px;">
                <h3 class="heading-secondary">Login</h3>
              </div>
  
              <div class="form__group" style="padding-bottom: 10px;">
                <input type="text" class="formusername__input form__input" placeholder="User Name" id="username"
                       
                       required formControlName="username">
                <div class="clearfix"></div>
                <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="error-message" style="float: left; display: flex;">
                  <font style="color: red;">
                    <small *ngIf="form.get('username')?.errors?.['required']">User Name is required.</small>
                  </font>
                </div>
                <div class="vspacer"></div>
                <div class="vspacer"></div>
              </div>
  
              <div class="form__group">
                <!-- <input type="password" class="form__input" placeholder="Password" id="password"
                       style="height: 8px!important; width: 55%; padding-left: 10px; border-left: 3px solid red;"
                       required formControlName="password"> -->


                       <div class="form__group password-group">
                        <input 
                            [type]="passwordVisible ? 'text' : 'password'"
                          class="form__input formpassword__input"
                          placeholder="Password"
                          id="password"
                          name="password"
                          
                       required formControlName="password"
                          
                        />
                        
                          <mat-icon 
                          class="eye-icon" 
                          (mouseenter)="passwordVisible = true" 
                          (mouseleave)="passwordVisible = false"
                        >
                          {{ passwordVisible ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                        
                      </div>

                <div class="clearfix"></div>


                
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message" style="float: left; display: flex;">
                  <font style="color: red;">
                    <small *ngIf="form.get('password')?.errors?.['required']">Password is required.</small>
                  </font>
                </div>
                <span class="spanforgotpassword"  >
                  <button class="hyperlink-button" type="button" (click)="forgotpassword()">Forgot Password?</button>
                </span>
                <div *ngIf="isinvalid" class="error-message">
                  <font style="color: red;"><small> Invalid credentials.</small></font>
                </div>
                <div class="vspacer"></div>
                <div class="clearfix"></div>
              </div>
  
              <div class="form__group" style="padding-top: 20px;">
                <button class="btn btn1"  
                        (click)="onLogin()" [disabled]="isLoading">Login</button>
                <button class="btn" style="padding: 15px; border-radius: 20px;" (click)="Register()">Register</button>
              </div>
  
              <div *ngIf="isLoading" class="loading-overlay">
                <div *ngIf="isLoading" class="spinner-border" role="status">
                  <span class="sr-only" *ngIf="isLoading">
                    <img *ngIf="isLoading" src="../../../assets/images/loader.gif">
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  